force-app/main/default/flows/Choose_a_Skill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignFirst</name>
        <label>AssignFirst</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AssignSkillFirst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SkillPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSkill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SecondSkillAssigment</name>
        <label>SecondSkillAssigment</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>BasicVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateSkill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSkillLoop</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>SkillPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skills__c</picklistField>
        <picklistObject>Module__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Choose a Skill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Choose a Skill</label>
    <loops>
        <name>GetSkillLoop</name>
        <label>GetSkillLoop</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>GetSkill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SecondSkillAssigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SecondScreenNow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetSkill</name>
        <label>GetSkill</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSkillLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skills__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignSkillFirst</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SecondScreenNow</name>
        <label>SecondScreen</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SecondScreen</name>
            <fieldText>&lt;p&gt;{!BasicVariable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Which_Skill_you_will_choose</name>
        <label>Which Skill you will choose?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignFirst</targetReference>
        </connector>
        <fields>
            <name>SkillsPicklist</name>
            <choiceReferences>SkillPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SkillsPicklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Skill_you_will_choose</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>TextTemplateSkill</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://e-learning2-dev-ed.lightning.force.com/lightning/r/Module__c/{!GetSkillLoop.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;&lt;em&gt;{!GetSkillLoop.Name}&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;a href=&quot;https://e-learning2-dev-ed.lightning.force.com/lightning/r/Module__c/{!GetSkillLoop.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: serif;&quot;&gt;&lt;strong&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AssignSkillFirst</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BasicVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextSkillMultiple</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
